<div class="banner">
    <h1>As Built</h1>
</div>


<div class="contenedor-tarjetas">
    <!-- Tarjeta 1 -->
    <div class="tarjeta" #tarjeta1 (click)="toggleInfo(tarjeta1)">
        <div class="contenido-texto">
            <h2>Cuales son los beneficios de implementar una As Built en tus proyectos</h2>
            <p class="descripcion-breve">Implementar una As Built en tus proyectos ofrece una serie de
                beneficios clave.</p>
            <div class="informacion-adicional">
                <p>Los modelos As Built en BIM ofrecen una representación precisa de las estructuras tal como se
                    construyeron, lo que es esencial para la gestión eficaz del mantenimiento y operaciones
                    post-construcción. Facilitan las actualizaciones o renovaciones futuras al proporcionar detalles
                    exactos y actualizados del edificio. Además, mejoran la comunicación con los equipos de
                    mantenimiento, aseguran el cumplimiento de las normativas de seguridad y eficiencia, y pueden ser
                    fundamentales para la planificación de la evacuación y respuesta a emergencias. Estos modelos son
                    herramientas valiosas para maximizar la longevidad y funcionalidad del edificio.</p>
                <!-- Agrega más contenido aquí según sea necesario -->
            </div>
            <div class="ver-mas" onclick="toggleInfo(this.parentElement)">
                <i class="fas fa-plus"></i>
            </div>
        </div>
    </div>