<div class="banner">
    <h1>Deteccion de Conflictos</h1>
</div>


<div class="contenedor-tarjetas">
    <!-- Tarjeta 1 -->
    <div class="tarjeta" #tarjeta1 (click)="toggleInfo(tarjeta1)">
        <div class="contenido-texto">
            <h2>Cuales son los beneficios de implementar una Deteccion de Conflictos en tus proyectos</h2>
            <p class="descripcion-breve">Implementar una Deteccion de Conflictos en tus proyectos ofrece una serie de
                beneficios clave.</p>
            <div class="informacion-adicional">
                <p>ayudan a los contratistas MEP, consultores
                    MEP y coordinadores MEP a mejorar la
                    coordinación y colaboración entre las
                    diferentes partes interesadas involucradas
                    en el proyecto, como diseñadores,
                    contratistas generales y
                    contratistas/subcontratistas comerciales.
                    etc.</p>
                <!-- Agrega más contenido aquí según sea necesario -->
            </div>
            <div class="ver-mas" onclick="toggleInfo(this.parentElement)">
                <i class="fas fa-plus"></i>
            </div>
        </div>
    </div>

    <!-- Tarjeta 2 -->

    <!-- Tarjeta 3 -->
    <div class="tarjeta" #tarjeta3 (click)="toggleInfo(tarjeta3)">
        <div class="contenido-texto">
            <h2>Procesos de trabajo</h2>
            <p class="descripcion-breve">Nuestro equipo colabora estrechamente con los clientes</p>
            <div class="informacion-adicional">
                <p>Nuestros servicios de detección de
                    conflictos MEP identifican conflictos MEP
                    con otras disciplinas de la construcción</p>
                <!-- Agrega más contenido aquí según sea necesario -->
            </div>
            <div class="ver-mas" onclick="toggleInfo(this.parentElement)">
                <i class="fas fa-plus"></i>
            </div>
        </div>
    </div>