<div class="banner">
    <div class="contact-form">
        <div class="first-container">
            <div class="info-container">
                <div class="title">
                    <h3>Informacion de contacto</h3>
                </div>
                <div>
                    <p>+54 9 2994239438</p>
                </div>
                <div>
                    <p>dspbim a gmail.com</p>
                </div>
                <div>
                    <p>General Fernandez Oro, Rio Negro</p>
                </div>
            </div>
        </div>
        <div class="second-container">
            <form>
                <div class="form-group">
                    <div class="group">
                        <input required="" type="text" class="input" />
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Nombre</label>
                    </div>
                    <div class="group">
                        <input required="" type="text" class="input" />
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Apellido</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="group">
                        <input required="" type="text" class="input" />
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Correo</label>
                    </div>
                    <div class="group">
                        <input required="" type="text" class="input" />
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Numero</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="group">
                        <input required="" type="text" class="input" />
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Correo</label>
                    </div>
                    <div class="group">
                        <div class="dropdown">
                            <select id="selectService" class="input form-control">
                                <option selected disabled>Selecciona un servicio</option>
                                <option value="servicio1">Documentacion Ejecutiva</option>
                                <option value="servicio2">Bim Arquitectónico</option>
                                <option value="servicio3">BIM Estructural</option>
                                <option value="servicio2">MEP</option>
                                <option value="servicio3">Deteccion de conflictos</option>
                                <option value="servicio3">AS BUILT</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="group">
                    <input required="" type="text" class="input" />
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Mensaje</label>
                </div>
            </form>
        </div>
    </div>
</div>