<div class="banner">
    <div class="fade-in-text">

    <h1>Sobre Nosotros</h1>
    </div>
</div>

<div class="boxesContainer">

    <div class="cardBox">
        <div class="card" >
            <div class="front">
                <h3>Objetivo</h3>

            </div>
            <div class="back">
                <p>El objetivo de DSP BIM es liderar la implementación y consultoría en tecnologías BIM, ofreciendo
                    soluciones innovadoras que mejoren la calidad y eficiencia de los proyectos arquitectónicos.</p>
            </div>
        </div>
    </div>

    <div class="cardBox">
        <div class="card">
            <div class="front">
                <h3>Mision</h3>

            </div>
            <div class="back">
                <p>Nuestra misión es proporcionar servicios de alta calidad en BIM y diseño arquitectónico,
                    adaptados a las necesidades de nuestros clientes. Nos comprometemos a ser líderes en innovación,
                    satisfaciendo las expectativas del cliente y manteniendo la integridad profesional.</p>
            </div>
        </div>
    </div>

    <div class="cardBox">
        <div class="card">
            <div class="front">
                <h3>Vision</h3>

            </div>
            <div class="back">
                <p>Nuestra visión es ser el socio preferido para la implementación de tecnologías BIM a nivel
                    global. Nos esforzamos por destacar en experiencia técnica, centrarnos en el cliente y ofrecer
                    soluciones avanzadas que impulsen la eficiencia y sostenibilidad en la industria de la
                    construcción.</p>
            </div>
        </div>
    </div>


</div>
<div class="contenedor-tarjetas">
    <!-- Tarjeta 1 -->
    <div class="tarjeta" #tarjeta1 (click)="toggleInfo(tarjeta1)">
        <div class="contenedor-imagen">
            <img src="../../../assets/R - Editado.png" alt="Nombre Persona" class="foto">
        </div>
        <div class="contenido-texto">
            <h2>Jhoana Sonzogni</h2>
            <p class="descripcion-breve">Arquitecta recibida de la
                Universidad de Flores (Sede
                Comahue) en Cipolletti, Río
                Negro (2017)</p>
            <div class="informacion-adicional">
                <p>Desde el 2015 desempeña su
                    actividad profesional como
                    colobaradora y asociada de
                    proyectos para estudios de
                    arquitectura y empresas
                    constructoras de la región.
                    En el año 2018 conforma el
                    estudio de Arquitectura DSP
                    Arquitectos donde cumple su
                    principal funcion como
                    Proyectista, Ejecución de
                    documentación técnica y
                    Directora de obras.</p>
                <!-- Agrega más contenido aquí según sea necesario -->
            </div>
            <a href="javascript:void(0);" class="ver-mas">Ver más</a>
        </div>
    </div>

    <!-- Tarjeta 2 -->
    <div class="tarjeta" #tarjeta2 (click)="toggleInfo(tarjeta2)">
        <div class="contenedor-imagen">
            <img src="../../../assets/R - Editado.png" alt="Nombre Persona" class="foto">
        </div>
        <div class="contenido-texto">
            <h2>Sebastían Dromaz</h2>
            <p class="descripcion-breve">Arquitecto recibido de la
                Universidad de Flores (Sede
                Comahue) en Cipolletti, Río
                Negro (2010)</p>
            <div class="informacion-adicional">
                <p>Formó parte de equipos de
                    proyecto desde el 2005 al
                    2012 produciendo
                    documentación ténica,
                    proyectista y posteriormente
                    gestionando obras para
                    estudios de arquitectura del
                    alto valle rionegrino.
                    Entre el 2012 y el 2018
                    desempeña su profesión de
                    manera independiente
                    comprendiendo obras de
                    pequeña y mediana escala
                    en el ámbito público y
                    privado.
                    En el año 2018 conforma el
                    estudio de Arquitectura DSP
                    Arquitectos donde cumple
                    su principal Rol como
                    Proyectista, Ejecución de
                    documentación técnica y
                    Director Administrador de
                    Obras.</p>
                <!-- Agrega más contenido aquí según sea necesario -->
            </div>
            <a href="javascript:void(0);" class="ver-mas">Ver más</a>
        </div>
    </div>

    <!-- Tarjeta 3 -->
    <div class="tarjeta" #tarjeta3 (click)="toggleInfo(tarjeta3)">
        <div class="contenedor-imagen">
            <img src="../../../assets/R - Editado.png" alt="Nombre Persona" class="foto">
        </div>
        <div class="contenido-texto">
            <h2>Nicolas Pojmaevich</h2>
            <p class="descripcion-breve">Arquitecto recibido de la
                Universidad de Flores (Sede
                Comahue) en Cipolletti, Río
                Negro (2010)</p>
            <div class="informacion-adicional">
                <p>Trabajó como colaborador de
                    documentaciones ejecutivas y
                    director de obra para diversos
                    profesionales de la zona.
                    Especialización en visualización
                    arquitectónica, desarrollando
                    imágenes realisticas para el
                    interior y exterior del país.
                    En el año 2018 conforma el
                    estudio de Arquitectura DSP
                    Arquitectos donde cumple su
                    principal funcion como
                    Proyectista, Ejecución de
                    documentación técnica y
                    Directora de obras.</p>
                <!-- Agrega más contenido aquí según sea necesario -->
            </div>
            <a href="javascript:void(0);" class="ver-mas">Ver más</a>
        </div>
    </div>
</div>