<div class="banner">
    <h1>Sobre Nosotros</h1>
</div>

<div class="boxesContainer">

    <div class="cardBox">
        <div class="card">
            <div class="front">
                <h3>Objetivo</h3>

            </div>
            <div class="back">
                <p>El objetivo de DSP BIM es liderar la implementación y consultoría en tecnologías BIM, ofreciendo
                    soluciones innovadoras que mejoren la calidad y eficiencia de los proyectos arquitectónicos.</p>
            </div>
        </div>
    </div>

    <div class="cardBox">
        <div class="card">
            <div class="front">
                <h3>Mision</h3>

            </div>
            <div class="back">
                <p>Nuestra misión es proporcionar servicios de alta calidad en BIM y diseño arquitectónico,
                    adaptados a las necesidades de nuestros clientes. Nos comprometemos a ser líderes en innovación,
                    satisfaciendo las expectativas del cliente y manteniendo la integridad profesional.</p>
            </div>
        </div>
    </div>

    <div class="cardBox">
        <div class="card">
            <div class="front">
                <h3>Vision</h3>

            </div>
            <div class="back">
                <p>Nuestra visión es ser el socio preferido para la implementación de tecnologías BIM a nivel
                    global. Nos esforzamos por destacar en experiencia técnica, centrarnos en el cliente y ofrecer
                    soluciones avanzadas que impulsen la eficiencia y sostenibilidad en la industria de la
                    construcción.</p>
            </div>
        </div>
    </div>


</div>
<div class="contenedor-tarjetas">
    <!-- Tarjeta 1 -->
    <div class="tarjeta" #tarjeta1 (click)="toggleInfo(tarjeta1)">
        <div class="contenedor-imagen">
            <img src="tu_foto_1.jpg" alt="Nombre Persona" class="foto">
        </div>
        <div class="contenido-texto">
            <h2>Nombre Persona 1</h2>
            <p class="descripcion-breve">Breve descripción aquí...</p>
            <div class="informacion-adicional">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A suscipit beatae nesciunt? Eos id
                    corrupti expedita impedit cupiditate, voluptates cum perspiciatis pariatur facere aliquid
                    voluptate recusandae, possimus aliquam nobis ipsam.</p>
                <!-- Agrega más contenido aquí según sea necesario -->
            </div>
            <a href="javascript:void(0);" class="ver-mas">Ver más</a>
        </div>
    </div>

    <!-- Tarjeta 2 -->
    <div class="tarjeta" #tarjeta2 (click)="toggleInfo(tarjeta2)">
        <div class="contenedor-imagen">
            <img src="tu_foto_2.jpg" alt="Nombre Persona" class="foto">
        </div>
        <div class="contenido-texto">
            <h2>Nombre Persona 2</h2>
            <p class="descripcion-breve">Breve descripción aquí...</p>
            <div class="informacion-adicional">
                <p>Información adicional aquí...</p>
                <!-- Agrega más contenido aquí según sea necesario -->
            </div>
            <a href="javascript:void(0);" class="ver-mas">Ver más</a>
        </div>
    </div>

    <!-- Tarjeta 3 -->
    <div class="tarjeta" #tarjeta3 (click)="toggleInfo(tarjeta3)">
        <div class="contenedor-imagen">
            <img src="tu_foto_3.jpg" alt="Nombre Persona" class="foto">
        </div>
        <div class="contenido-texto">
            <h2>Nombre Persona 3</h2>
            <p class="descripcion-breve">Breve descripción aquí...</p>
            <div class="informacion-adicional">
                <p>Información adicional aquí...</p>
                <!-- Agrega más contenido aquí según sea necesario -->
            </div>
            <a href="javascript:void(0);" class="ver-mas">Ver más</a>
        </div>
    </div>
</div>