<app-home-slider />
<div class="container">
    <div class="section">
        <h2>¿Qué es BIM?</h2>
        <p>BIM (Modelado de Información de Construcción) es una metodología de trabajo que utiliza modelos digitales 3D
            para planificar, diseñar, construir y administrar edificios e infraestructuras. Permite la colaboración
            eficiente entre profesionales, mejora la precisión y optimiza la gestión de proyectos de construcción.</p>
        <img src="../../../assets/content1.png" alt="Edificio en construcción">
    </div>

    <div class="section">
        <h2>Nuestro Enfoque BIM</h2>
        <p>En DSP BIM, somos pioneros en ofrecer soluciones de Diseño BIM. Nuestro equipo combina experiencia técnica y
            creatividad para transformar ideas en realidad, asegurando eficiencia y precisión en cada proyecto.</p>
        <p>Nos dedicamos a modelar, diseñar y optimizar espacios con la más avanzada tecnología BIM.</p>
        <img src="../../../assets/carrucel4.5.jpg" alt="Casa modelo">
    </div>

    <!-- Nuevo contenido -->
    <div class="section">
        <h2>¿Por qué DSPBIM tiene que formar parte de tus proyectos?</h2>
        <ul>
            <li>A partir de los modelos 3D logramos mayor llegar a un nivel altamente detallado que trae numerosas
                ventajas en términos de eficiencia y precisión.</li>
            <li>Agilizamos el flujo de trabajo entre los diferentes actores en la conformación de un proyecto
                multidisciplinar.</li>
            <li>Podemos gestionar y organizar toda la información del proyecto. Desde la documentación técnica hasta los
                datos relacionados con los materiales y las especificaciones.</li>
            <li>Tenemos la capacidad para generar visualizaciones realistas y precisas.</li>
            <li>A través de la coordinación de disciplinas se minimizan los errores de construcción y ahorra recursos
                económicos.</li>
        </ul>
        <a href="nosotros">Más sobre nosotros</a>
        <img src="../../../assets/carrucel5.jpg" alt="Diseño de departamentos">
    </div>
</div>

<div class="main">
    <h1>Servicios</h1>
    <ul class="cards">
        @for(service of services; track service; ){
        <li class="cards_item">
            <div class="card">
                <div class="card_image">
                    <img [src]="service.imagenUrl" alt="{{ service.name }}">
                </div>
                <div class="card_content">
                    <h2 class="card_title">{{ service.name }}</h2>
                    <p class="card_text">{{ service.description }}</p>
                    <a [routerLink]="service.src" class="btn card_btn">Conocer más</a>
                </div>
            </div>
        </li>
        }
    </ul>
</div>