<div class="banner">
    <div class="title , fade-in-text">
        <div >
            <p class="arquitectura"></p>
            <h1>DSP</h1>
        </div>
        <h1>BIM</h1>
    </div>

    <main>
        <ul class='slider' id="slide">
            <li class='item' style="background-image: url(../../../assets/carrucel/Casa_NIS_05.jpg)">
                <div class='content'>
                </div>
            </li>
            <li class='item' style="background-image: url(../../../assets/carrucel/Casa_FL_Ext_01A.jpg)">
                <div class='content'>
                </div>
            </li>
            <li class='item' style="background-image: url(../../../assets/carrucel/Locales_Plottier_Susana_Esq02_05.jpg)">
                <div class='content'>
                </div>
            </li>
            <li class='item' style="background-image: url(../../../assets/carrucel/Maurin_Sarrat_V05_cam\ 01B\ ext.jpg)">
                <div class='content'>
                </div>
            </li>
            <li class='item' style="background-image: url(../../../assets/carrucel/Oficinas_Maipu_02.jpg)">
                <div class='content'>
                </div>
            </li>
        </ul>
    </main>
    <div class="buttons">
        <button id="next">
            <fa-icon [icon]="faArrowLeft"></fa-icon>
        </button>
        <button id="prev">
            <fa-icon [icon]="faArrowRight"></fa-icon>
        </button>
    </div>
</div>











<!--
    <div class="carrucel">
        <div class="container">
            <ul class='slider' id="slide">
                <li class="item" style="background-image: url(../../../assets/carrucel1.jpg)">
                    <div class="content">
                    </div>
                </li>
                <li class="item" style="background-image: url(../../../assets/carrucel2.jpg)">
                    <div class="content">
                    </div>
                </li>
                <li class="item" style="background-image: url(../../../assets/carrucel3.jpg)">
                    <div class="content">
                    </div>
                </li>
                <li class="item" style="background-image: url(../../../assets/carrucel4.5.jpg)">
                    <div class="content">
                    </div>
                </li>
                <li class="item" style="background-image: url(../../../assets/carrucel5.jpg)">
                    <div class="content">
                    </div>
                </li>
            </ul>
        </div>
    </div>
-->