.banner {
    height: 100dvh;
    background-color: var(--primary-color);
    position: relative;
}


.title {
    position: absolute;
    top: 30%;
    left: 14.04rem;
    z-index: 1000;
}

.title h2 {
    font-weight: 700;
    font-size: 80px;
    line-height: 93px;
    color: #fff;
}

.title h1 {
    margin-top: -20px;
    font-size: 140px;
    font-weight: 700;
    line-height: 164px;
    color: #fff;
}


main {
    position: absolute;
    height: 85%;
    width: 77%;
    right: 0;
    top: 0;
    overflow: hidden;
    border-radius: 0 0 0 10px;
}


.slider {
    width: 100%;
    height: 100%;
}

.item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 0.1s, opacity 0.75s;
    z-index: 1;
}


.item {

    width: 200px;
    height: 300px;
    list-style-type: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0 20px 30px rgba(255, 255, 255, 0.3) inset;
    transition: transform 0.1s, left 0.75s, top 0.75s, width 0.75s, height 0.75s;

    &:nth-child(1),
    &:nth-child(2) {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transform: none;
        border-radius: 0;
        box-shadow: none;
        opacity: 1;
    }

    &:nth-child(3) {
        left: 65%;
    }

    &:nth-child(4) {
        z-index: 10;
        left: calc(65% + 220px);
    }

    &:nth-child(5) {
        left: calc(65% + 220px);
    }


}

.content {
    width: min(30vw, 400px);
    position: absolute;
    top: 50%;
    left: 3rem;
    transform: translateY(-50%);
    font: 400 0.85rem helvetica, sans-serif;
    color: white;
    text-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
    opacity: 0;
    display: none;

    & .title {
        font-family: "arial-black";
        text-transform: uppercase;
    }

    & .description {
        line-height: 1.7;
        margin: 1rem 0 1.5rem;
        font-size: 0.8rem;
    }

    & button {
        width: fit-content;
        background-color: rgba(0, 0, 0, 0.1);
        color: white;
        border: 2px solid white;
        border-radius: 0.25rem;
        padding: 0.75rem;
        cursor: pointer;
    }
}

.item:nth-of-type(2) .content {
    display: block;
    animation: show 0.75s ease-in-out 0.3s forwards;
}

@keyframes show {
    0% {
        filter: blur(5px);
        transform: translateY(calc(-50% + 75px));
    }

    100% {
        opacity: 1;
        filter: blur(0);
    }
}


.buttons {
    position: absolute;
    bottom: 35px;
    z-index: 222222;
    right: 30rem;
    text-align: center;
    width: 95%;
}

.buttons button {
    margin: 15px;
    border: 0px;
    background-color: transparent;
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
}

.buttons button:hover {
    color: var(--primary-color);
    border-radius: 50%;
    padding: 5px;
    background-color: #fff;
}



@media (min-width: 651px) and (max-width: 899px) {

    main {
        position: absolute;
        width: 100%;
        height: 100%;

        border-radius: 0;
    }

    .item {
        width: 160px;
        height: 270px;

        &:nth-child(3) {
            left: 50%;
        }

        &:nth-child(4) {
            left: calc(50% + 170px);
        }

        &:nth-child(5) {
            left: calc(50% + 220px);
        }

        &:nth-child(6) {
            left: calc(50% + 220px);
            opacity: 0;
        }
    }
}

@media (max-width: 650px) {
    main {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }

    .title {
        display: none;
    }

    .item {
        width: 130px;
        height: 220px;

        &:nth-child(3) {
            left: 50%;
        }

        &:nth-child(4) {
            left: calc(50% + 140px);
        }

        &:nth-child(5) {
            left: calc(50% + 280px);
        }

        &:nth-child(6) {
            left: calc(50% + 420px);
            opacity: 0;
        }
    }
}