<div class="banner">
    <div class="title">
        <h2>Diseño</h2>
        <h2>Avanzado</h2>
        <h1>BIM</h1>
    </div>
    <div class="carrucel">
        <div class="container">
            <div id="slide">
                <div class="item" style="background-image: url(../../../assets/carrucel1.png)">
                    <div class="content">
                    </div>
                </div>
                <div class="item" style="background-image: url(../../../assets/carrucel2.png)">
                    <div class="content">
                    </div>
                </div>
                <div class="item" style="background-image: url(../../../assets/carrucel3.png)">
                    <div class="content">
                    </div>
                </div>
                <div class="item" style="background-image: url(../../../assets/carrucel4.png)">
                    <div class="content">
                    </div>
                </div>
                <div class="item" style="background-image: url(../../../assets/carrucel5.png)">
                    <div class="content">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="buttons">
        <img src="../../../assets/prev.png" alt="" id="next" />
        <img src="../../../assets/next.png" alt="" id="prev" />
    </div>
</div>