<div class="banner">
    <div class="title">
        <h3 class="arquitectura">2024 - Arquitectura</h3>
        <h2>Diseño</h2>
        <h2>Avanzado</h2>
        <h1>BIM</h1>
    </div>
    <div class="carrucel">
        <div class="container">
            <div id="slide">
                <div class="item" style="background-image: url(../../../assets/carrucel1.jpg)">
                    <div class="content">
                    </div>
                </div>
                <div class="item" style="background-image: url(../../../assets/carrucel2.jpg)">
                    <div class="content">
                    </div>
                </div>
                <div class="item" style="background-image: url(../../../assets/carrucel3.jpg)">
                    <div class="content">
                    </div>
                </div>
                <div class="item" style="background-image: url(../../../assets/carrucel4.5.jpg)">
                    <div class="content">
                    </div>
                </div>
                <div class="item" style="background-image: url(../../../assets/carrucel5.jpg)">
                    <div class="content">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="buttons">
        <button id="next">
            <fa-icon [icon]="faArrowLeft"></fa-icon>
        </button>
        <button id="prev">
            <fa-icon [icon]="faArrowRight"></fa-icon>
        </button>
    </div>
</div>